<template>
  <el-tabs type="border-card">
    <el-tab-pane label="Manage Task" style="background: #33363d;">
      <div
        class="drag-container"
        v-drag-and-drop:options="options"
        v-loading="loading"
      >
        <ul class="drag-list">
          <li class="drag-column" v-for="group in groups" :key="group.id">
            <span class="drag-column-header">
              <h2>{{ group.name }}</h2>
            </span>
            <vue-draggable-group
              v-model="group.items"
              :groups="groups"
              :data-id="group.id"
              @change="onGroupsChange(group.id)"
            >
              <ul class="drag-inner-list" :data-id="group.id">
                <li
                  class="drag-item"
                  v-for="item in group.items"
                  :key="item.id"
                  :data-id="item.id"
                >
                  <div class="drag-item-text">{{ item.task }}</div>
                  <el-button
                    type="danger"
                    @click="deleteTask(item.id)"
                    style="float: right; margin-top: -37px"
                    icon="el-icon-delete"
                    circle
                  ></el-button>
                </li>
              </ul>
            </vue-draggable-group>
          </li>
        </ul>
      </div>
    </el-tab-pane>
    <el-tab-pane
      label="Create Task"
      style="background: #f1f1f1; width:50%"
      v-loading="loading"
    >
      <div style="width: 70%;">
        <h2 style="color: black">Create Task</h2>
        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="Task">
            <el-input v-model="form.task"></el-input>
          </el-form-item>
          <el-form-item label="Completion date">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="form.completion_date"
              style="width: 100%;"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="Status">
            <el-radio-group v-model="form.status">
              <el-radio label="Pending"></el-radio>
              <el-radio label="Ongoing"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="Priority">
            <el-radio-group v-model="form.priority">
              <el-radio label="High"></el-radio>
              <el-radio label="Medium"></el-radio>
              <el-radio label="Low"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="Assign Task to">
            <el-select v-model="form.assign_to" placeholder="Select">
              <el-option
                v-for="user in users"
                :key="user.id"
                :label="user.first_name + user.last_name"
                :value="user.id"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="createTask">Create</el-button>
            <el-button>Cancel</el-button>
          </el-form-item>
        </el-form>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      users: [],
      oldGroupData: [],
      form: {
        task: "",
        priority: "",
        status: "",
        completion_date: ""
      },
      newTodo: "",
      groups: [
        {
          id: 1,
          name: "To Do",
          items: []
        },
        {
          id: 2,
          name: "In Progress",
          items: []
        },
        {
          id: 3,
          name: "Done",
          items: []
        }
      ],
      options: {
        dropzoneSelector: ".drag-inner-list",
        draggableSelector: ".drag-item"
      }
    };
  },
  mounted() {
    this.loading = true;
    axios.get("http://localhost:5000/api/v1/tasks").then(response => {
      this.groups[0].items = response.data.data.filter(
        data => data.status == "pending"
      );
      this.groups[1].items = response.data.data.filter(
        data => data.status == "ongoing"
      );
      this.groups[2].items = response.data.data.filter(
        data => data.status == "completed"
      );
      this.oldGroupData = response.data.data;
      this.loading = false;
    });
    axios.get("http://localhost:5000/api/v1/users").then(response => {
      this.users = response.data.data;
    });
  },
  methods: {
    onGroupsChange(id) {
      const status =
        id == 1
          ? "pending"
          : id == 2
          ? "ongoing"
          : id == 3
          ? "completed"
          : "pending";
      const task_id = this.groups[id - 1].items[
        this.groups[id - 1].items.length - 1
      ].id;
      axios
        .put(`http://localhost:5000/api/v1/task/${task_id}`, { status: status })
        .then(response => {
          console.log(response);
        });
    },
    deleteTask(id) {
      this.loading = true;
      axios.delete(`http://localhost:5000/api/v1/task/${id}`).then(response => {
        console.log(response);
        this.loading = false;
        this.$notify({
          title: "Success",
          message: response.data.message,
          type: "success"
        });
        location.reload();
      });
    },
    createTask() {
      this.loading = true;
      axios
        .post(`http://localhost:5000/api/v1/task`, this.form)
        .then(response => {
          this.loading = false;
          console.log(response);
          this.$notify({
            title: "Success",
            message: response.data.message,
            type: "success"
          });
          location.reload();
        });
    }
  }
};
</script>
