* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Roboto Mono", serif;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1000px;
  margin: 20px auto;
}

.drag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}

.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.drag-column-to-do .drag-column-header,
.drag-column-to-do .drag-options {
  background: #f4ce46;
}

.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .drag-options {
  background: #2a92bf;
}

.drag-column-approved .drag-column-header,
.drag-column-approved .drag-options {
  background: #00b961;
}

.drag-column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag-inner-list {
  height: 85vh;
  overflow: auto;
}

.drag-item {
  margin: 10px;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  /* items grabbed state */
}

.drag-item[aria-grabbed="true"] {
  background: #5cc1a6;
  color: #fff;
}

.drag-item .drag-item-text {
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.drag-header-more {
  cursor: pointer;
}

@-webkit-keyframes nodeInserted {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes nodeInserted {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}

.item-dropzone-area {
  height: 6rem;
  background: #888;
  opacity: 0.8;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: nodeInserted;
  animation-name: nodeInserted;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.el-button--primary {
  background: #007c89;
  border-color: #007c89;
}

.el-button--primary:hover,
.el-button--primary.active,
.el-button--primary:focus {
  background: #009cad;
  border-color: #009cad;
}

.login .el-input__inner:hover {
  border-color: #007c89;
}

.login .el-input__prefix {
  background: #eeedea;
  left: 0;
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 3px;
}

.login .el-input__prefix .el-input__icon {
  width: 30px;
}

.login .el-input input {
  padding-left: 35px;
}


h2 {
  font-family: "Open Sans";
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  padding-bottom: 20px;
}

a {
  color: #007c89;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #009cad;
}

.el-card {
  background: #33363d;
  width: 30%;
  justify-content: center;
  align-items: center;

}
.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 100%;
  margin-top: 40px;
}
.login-form {
  width: 290px;
  align-items: center;} 
.forgot-password {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */
